import _colors.scss .card {
  width: 465px;
  margin: auto;
}

.form {
  color: black;
  width: 90%;
  padding: 15px;
  margin: auto;
}

.button {
  color: $primary;
}

.bottomlink {
  text-align: center;
  margin-top: 10px;
}
