@import "colors";

nav {
  box-sizing: border-box;
  //display: inline;
  margin: 0;
  padding: 0;
  color: black;
}

.navitem {
  //color: $success;
  color: red;
  margin-left: 100px;
}

.toggleitem {
  color: $primary;
}
